@media all and (min-device-width: 62.5em) and (max-device-width: 87.5em), (min-width: 62.5em) and (max-width: 87.5em){
    .nw{
        width: 100%;
    }
.ms-header {
    .ms-header-conteiner{
        .ms-navigation {
            text-align: right;
            padding-right: 20px;
            .ms-nav-search {
                display: block !important;
                position: absolute;
                top: 48px;
                left: 20px;
                background: url(../../images/png/filter.png) no-repeat center;
                width: 32px;
                height: 24px;
                border: 0px;
                cursor: pointer;
                outline: none;
            }
            ul{
                margin: 0px;
            }
            .ms-nav-social {
                display: none;
            }
        }
    }
    .ms-search-conteiner{
        width: 350px;
        position: absolute;
        left: -105%;
        top: 120px;
        transition: 0.3s;
        z-index: 9999;
        form{
            padding: 20px 20px;
            .search-filter {
                display: block;
                .s-filter{
                    &.type, &.year, &.conditional{
                        select{
                            width: 220px;  
                        }
                    }
                    &.location{
                        margin-left: 30px;
                    }
                }
            }
        }
        .s-filter{
            display: block!important;
        }
        .searchbut{
            display: block!important;
            margin-left: 100px;
        }
        &.show{
            .ms-search{
                &.nw {
                  width: 350px;  
                }
            }
            left: 0px;
        }
    }
    
}
.motoshop  {
    padding: 0px 4%;
    .product-card{
        margin-right: 0px;
        width: 33%; 
        .pc-slider-ct {
            .slick-next{
                right: 10px; 
            }
        }
    }
}
    
}