
    .ms-header-conteiner{
        background-color: #0067ee;
        height: 120px;
        .ms-navigation{
            margin: 0px auto;
            font-size: $text_font;
            font-family: 'GilRoy';
            padding: 42px 0px;
            ul {
                margin: 0px 0px 0px 34%;
                padding: 0px;
                list-style: none;
                display: inline-block;
                height: 36px;
                li{
                    display: inline-block;
                    vertical-align: top;
                    margin-right: 43px;
                    line-height: 36px;
                    a{
                        text-decoration: none;
                        text-transform: uppercase;
                        color: $color_text_menu;
                        cursor: pointer;
                        border-bottom: 1px solid #0067ee;
                        letter-spacing: 2px;
                        &:hover{
                            border-bottom: 1px solid $color_text_menu;
                        }
                    }
                }
                .singup {
                    width: 100px;
                    margin-right: 0px;
                    border: 1px solid $color_text_menu;
                    border-radius: 20px;
                    text-align: center;
                    a:hover{
                        border-bottom: initial;
                    }
                }
            }
            .ms-nav-tel{
                display: inline-block;
                font-size: 18px;
                height: 26px;
                vertical-align: top;
                margin-top: 3px;
                color: #fff;
                border-bottom: 1px solid $color_text_menu;
                margin-left: 28px;
                letter-spacing: 3px;
            }
            .ms-nav-social {
                margin-left: 20px;
                display: inline-block;
                vertical-align: top;
                a{
                    @include background_image;
                    width: 34px;
                    height: 34px;
                    display: inline-block;
                    vertical-align: top;
                    margin-left: 6px;
                    &.social-item {
                        &.f{
                            background-image: url(../../images/png/f.png);
                        }
                        &.t{
                            background-image: url(../../images/png/t.png);
                        }
                        &.g{
                            background-image: url(../../images/png/g.png);
                        }
                        &.l{
                            background-image: url(../../images/png/l.png);
                        }
                    }
                }
                
            }
            .ms-nav-search, .ms-nav-menu{
                display: none;
            }
        }
        

    }
    .ms-search-conteiner {
        background-color: #0a0c0f;
        font-family: 'GilRoy';
        form{
            padding: 34px 0px;
            .search-filter {
                display: inline-block;
                .s-filter{
                    display: inline-block;
                    vertical-align: top;
                    margin-top: 20px;
                    font-size: $text_font;
                    small{ 
                        display: block;
                        color: darken(#fff,40%);
                    }
                    select{
                        border: none;
                        border-bottom: 1px solid #fff;
                        background-color: inherit;
                        color: $color_text_menu;
                        padding-left: 5px;
                        outline: none;
                        cursor: pointer;
                        option{
                            color:#333;
                        }
                    }
                    &.location{
                        margin-top: 16px;
                        p{
                            border-bottom: 1px solid $color_text_menu;
                            color: $color_text_menu;
                            display: inline-block;
                            padding-right: 50px;
                            font-size: 16px;
                            width: 200px;
                            font-family: 'GilRoy';
                        }
                        span{
                            @include background_image;
                            background-image: url(../../images/png/ic_my_location_black_24dp_2x.png);
                            width: 24px;
                            height: 20px;
                            display: inline-block;
                            vertical-align: top;
                            border-bottom: 1px solid #fff;
                            padding: 12px;
                            margin-left: -5px;
                        }
                    }
                    &.conditional{
                        width: 140px;
                        margin-left: 20px;
                        .ig {
                            display: inline-block;
                            vertical-align: top;
                            position: relative;
                            padding: 1px 0px 0px 20px;
                            color: $color_text_menu;
                            &:last-child{
                                margin-left: 25px;
                            }
                            .ic{
                                @include background_image;
                                margin: 0px;
                                padding: 0px;
                                position: absolute;
                                width: 15px;
                                height: 15px;
                                -webkit-appearance: inherit;
                                background: url(../../images/png/Rectangle.png);
                                left: 0px;
                                top: 0px;
                                transition: 0.3s;
                                cursor: pointer;
                                &:checked {
                                    background: url(../../images/png/Shape.png);
                                }
                            }
                            label{
                                transition: 0.2s;
                                cursor: pointer;
                            }
                        }
                    }
                    &.type {
                        small {
                            margin-left: 28px;
                        }
                        select{
                            width: 180px;
                            margin-left: 30px;
                        }
                    }
                    &.make {
                        small {
                            margin-left: 28px;
                        }
                        select{
                            width: 220px;
                            margin-left: 30px;
                        }
                    }
                    &.year {
                        small {
                            margin-left: 28px;
                        }
                        select{
                            width: 125px;
                            margin-left: 30px;
                        }
                    }
                    &.price {
                        small {
                            margin-left: 28px;
                        }
                        select{
                            width: 220px;
                            margin-left: 30px;
                        }
                    }
                }
            }
            .searchbut{
                display: inline-block;
                vertical-align: top;
                margin-top: 20px;
                margin-left: 30px;
                input{
                    border: 0px;
                    outline: none;
                    background-color:#0066ee;
                    border-radius: 20px;
                    color: $color_text_menu;
                    padding: 10px 19px;
                    cursor: pointer;
                }
            }
        } 
    }
    .motoshop{
        padding-left: 4%;
        margin: 65px auto;
        .product-card{
            margin-right: 25px;
            margin-top: 24px;
            width: 400px;
            display: inline-block;
            text-align: center;
            transition: 0.3s;
            &:hover{
                box-shadow: 0px 10px 16px 0px rgba(97, 99, 101, 0.5);
                transition: 0.3s;
            }
            .pc-slider-ct{
                overflow: hidden;
                width: 100%;
                position: relative;
                .pc-slider-pic{
                    display: inline-block;
                    vertical-align: top;
                }
                .slick-arrow {
                    width: 13px;
                    height: 21px;
                    font-size: 0px;
                    background-position: center !important;
                    background-repeat: no-repeat !important;
                    position: absolute;
                    bottom: 45%;
                    cursor: pointer;
                    transition: 0.3s;
                    border: none;
                    z-index: 999;
                    outline: none;
                }
                .slick-next {
                    background: url(../../images/png/slider-arrow-right-hover.png);
                    right: 10px;
                }
                .slick-prev {
                    background: url(../../images/png/slider-arrow-left-hover.png);
                    left: 10px;
                }
            }
            .pc-text-ct{
                padding: 0px 10px 10px 10px;
                color: lighten(#000, 40%);
                h3 {
                    width: 75%;
                    max-height: 75px;
                    overflow: hidden;
                    font-weight: 700;
                    text-align: center;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 0px;
                    margin-bottom: 10px;
                    line-height: 25px;
                    text-transform: uppercase;
                    font-family: 'GilRoy';
                }
                p {
                    line-height: 25px;
                    span{
                        color: darken(#fff, 50%);
                        font-weight: 400;
                    }
                }
            }
            a {
                position: relative;
                width: 190px;
                border-radius: 50px;
                text-transform: uppercase;
                text-decoration: none;
                color: darken(#fff, 50%);
                font-weight: bold;
                display: block;
                padding: 10px 20px;
                border: 1px solid darken(#fff, 50%);
                margin: 0px auto 10px auto;
                transition: 0.3s;
                span{
                    width: 10px;
                    height: 14px;
                    position: absolute;
                    bottom: 16px;
                    right: 16px;
                    display: block;
                    background-position: center !important;
                    background-repeat: no-repeat !important;
                    background: url(../../images/png/VIEW.png);
                }
                &:hover{
                    background-color: lighten(#000, 30%);
                    transition: 0.3s;
                    color:$color_text_menu;
                    span{
                        background: url(../../images/png/OFFER.png);
                    }
                }
            }
        }
    }
    .ms-pagination-conteiner{
        background-color: #0067ee;
        .ms-pag {
            text-align: center;
            ul{
                padding: 0px;
                margin: 0px;
                list-style: none;
                font-family: 'GilRoy';
                font-weight: 600;
                li{
                    padding: 0px;
                    margin: 0px;
                    display: inline-block;
                    vertical-align: top;
                    a{
                        text-decoration: none;
                        &:hover{
                            background-color: $color_text_menu;
                            color:#000;
                        }
                    }
                    &>span {
                        vertical-align: top;
                        line-height: 65px;
                        color: $color_text_menu;
                        margin: 0px 10px;
                    }
                    &:last-child > .ms-pag-item{
                        padding: 8px 11px; 
                    }
                }
            }
            .ms-pag-item{
                border: 2px solid $color_text_menu;
                border-radius: 500px;
                width: 16px;
                height: 16px;
                padding: 8px 13px;
                color: $color_text_menu;
                line-height: 65px;
                
            }
        }
    }
    .ms-footer-conteiner{
        background-color: lighten(#000, 30%);
        height: 450px;
        .ms-foot-item {
            display: inline-block;
            vertical-align: top;
            font-family: 'GilRoy';
            margin-left: 30%;
            text-align: left;
            color: $color_text_menu;
            margin-top: 75px;
            h3{
                font-weight: 600;
                margin-top: 0px;
                text-transform: uppercase;
            }
            ul{
                padding: 0px;
                margin: 0px;
                list-style: none;
                li{
                    padding: 0px;
                    margin: 0px;
                    line-height: 25px;
                    a{
                        text-decoration: none;
                        color: $color_text_menu;
                        position: relative;
                    }
                }
            }
        &.right{
            margin-left: 17%;
            ul  {
                li:nth-child(1){
                    a  {
                        padding-left: 25px;
                        span{
                            width: 10px;
                            height: 18px;
                            display: inline-block;
                            background-position: center;
                            background-repeat: no-repeat;
                            position: absolute;
                            left:0px;
                            top:0px;
                            background: url(../../images/png/f_w.png);
                        }
                    }
                }
                li:nth-child(2){
                    a  {
                        padding-left: 25px;
                        span{
                            width: 20px;
                            height: 14px;
                            display: inline-block;
                            position: absolute;
                            left:0px;
                            top:0px;
                            background-position: center;
                            background-repeat: no-repeat;
                            background: url(../../images/png/t_w.png);
                        }
                    }
                }
                li:nth-child(3){
                    a  {
                        padding-left: 25px;
                        span{
                            width: 20px;
                            height: 12px;
                            position: absolute;
                            left:0px;
                            top:0px;
                            display: inline-block;
                            background-position: center;
                            background-repeat: no-repeat;
                            background: url(../../images/png/g_w.png);
                        }
                    }
                }
                li:nth-child(4){
                    a  {
                        padding-left: 25px;
                        span{
                            width: 17px;
                            height: 17px;
                            position: absolute;
                            left:0px;
                            top:0px;
                            display: inline-block;
                            background-position: center;
                            background-repeat: no-repeat;
                            background: url(../../images/png/l_w.png);
                        }
                    }
                }
            }
            
            
        } 
        }
    }
    
